# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
supabase_chat_schema.sql
supabase_notifications_migration.sql
docs/presentation/assets/supabase-schema-luwbglucaedacswkaqgn.svg
# docs/presentation/assets/logo.svg
# docs/presentation/assets/logo_icon.svg
# docs/presentation/assets/logo_icon.png
# docs/presentation/styles.css
# docs/presentation/index.html
# docs/presentation/generate.py
# docs/presentation/app.js
supabase/seed_data.py
supabase/clear_db.py
docs/presentation/assets/videos/features_demo.mp4
.gitignore
docs/presentation/index.html
.gitignore
docs/presentation/generate.py
docs/presentation/app.js
docs/presentation/styles.css
docs/presentation/assets/logo_icon.png
.gitignore
docs/presentation/assets/logo.svg
docs/presentation/assets/logo_icon.svg
supabase/trigger_notifications.py
